body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2 {
  font-size: 1.1rem;
  margin: 0 !important;
}

.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}









.item-image {
  max-height: 120px;
  width: 180px;

}

.tile:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.flex-container {
  display: flex;
  /*background-color: DodgerBlue;*/
}

.item-details {
  flex-basis: 100%;
  text-align: left !important;
  margin: 0 10px 0 10px;
}

.flex-container > div {
  /* background-color: #f1f1f1; */
  width: auto;
  text-align: center;
  line-height: 1.4rem;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
}

.perfect-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}



.item-row:hover {
  background-color: #f7f7f7;
}

.font-price {
  color: red;
  font-size: .75rem;
  font-weight: bold;
  margin-top: 5px;
}

.font-title {
  font-size: 30px;
  color: black;
}

.font-description {
  font-size: .82rem;
  color: grey;
}

.btn-add-edit {
  margin-right: 10px;
}



.box h3{
  text-align:center;
	position:relative;
	top:80px;
}
.box {

	height:120px;
	background:#FFF;
	margin:15px auto;
  border: 1px solid #fff;
}
/*==================================================
 * Effect 6
 * ===============================================*/
.effect6
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect6:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}


.modal-title {
  font-size: 1rem;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

input {
    text-align: center;
}

.navbar {
  background: grey;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  margin-bottom: 25px;
}

.navbar navbar-section {
  align-self: center;
}

.navbar-section {
  align-items: center;
}
